<h1>Update <%=@list.name %> </h1>

<%= erb(:errors, :locals => { :object => @list }) %>

<form action="/lists/<%= @list.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= erb :form %>
</form>

<form action="/lists/<%= @list.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete list</button>
</form>
